{% extends "layout.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="p-4 rounded-lg shadow-xs bg-slate-800">
    <h1 class="text-center mb-4 text-xl font-semibold text-slate-200">
        {% trans "Sign Out" %}
    </h1>
    <hr class='my-4'>

    <div class='flexpx-4'>
    <p class="text-slate-200 my-4 text-center">
        {% trans 'Are you sure you want to sign out?' %}
    {% url 'account_logout' as action_url %}
    </p>
        <div class='flex justify-center my-4 gap-4'>
        <form method="POST">
            {% csrf_token %}
            <button class="block px-4 py-2 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="submit">
                Yes
            </button>
        </form>
        <a href="{% url 'dashboard' %}">
        <button class="block px-4 py-2 font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-purple">
            No
        </button>
        </a>
    </div>
    </div>
</div>
{% endblock content %}