{% extends "layout.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
    <h1 class="text-center mb-4 text-xl font-semibold text-gray-200 dark:text-gray-200">
        {% trans "Sign Out" %}
    </h1>
    <hr class='my-4'>

    <div class='px-4'>
    <p class="text-gray-200 dark:text-gray-400 my-4">
        {% trans 'Are you sure you want to sign out?' %}
    {% url 'account_logout' as action_url %}
    </p>
        <form method="POST">
            {% csrf_token %}
            <button class="block px-4 py-2 my-6 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock content %}