{% extends "layout.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

    <div class="grid gap-6 mb-8">
        <div class="min-w-0 p-4 rounded-lg shadow-xs bg-slate-800">
          <h1 class="text-center mb-4 text-xl font-semibold text-slate-200">
            Password Reset
          </h1>
          <hr class='my-4'>
          <p class="text-slate-400 px-4">
            We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.

          </p>
        </div>
    </div>
{% endblock content %}