{% extends "layout.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}Verification Sent{% endblock title %}

{% block content %}

    <div class="grid gap-6 mb-8">
        <div class="min-w-0 p-4 rounded-lg shadow-xs bg-slate-800">
          <h1 class="text-center mb-4 text-xl font-semibold text-slate-200">
            Verify Your Email Address
          </h4>
          <hr class='my-4'>
          <p class="text-slate-400 px-4">
            {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
          </p>
        </div>
    </div>
{% endblock content %}