{% load static tailwind_tags %}
{% load static %}
{% load icons %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WEBPRICE{% endblock title %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static "css/tailwind.output.css" %}" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{% static "js/init-alpine.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/toastr.js' %}"></script>  
    {% tailwind_css %}
  </head>

	<body>
    <div class="flex items-center min-h-screen p-4 bg-slate-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden rounded-lg shadow-xl bg-slate-800"
      >
        {% block content %}This is content{% endblock content %}
    </div>
  </div>
  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'alert-success'%}
          <script type=text/javascript>toastr.success('{{ message }}')</script>
      {% elif message.tags == 'alert-info' %}
          <script type=text/javascript>toastr.info('{{ message }}')</script>
      {% elif message.tags == 'alert-warning' %}
          <script type=text/javascript>toastr.warning('{{ message }}')</script>
      {% elif message.tags == 'alert-danger' %}
          <script type=text/javascript>toastr.error('{{ message }}')</script>
      {% endif %}
  {% endfor %}
{% endif %}
	</body>
</html>
