{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block title %}
  Add Product
{% endblock %}

{% block content %}
  <div class="container px-6 my-4 mx-auto grid">
    <div class='flex justify-between'>
      <h4 class="text-lg m-2 font-semibold text-slate-300">Add Products</h4>
      <div class="text-lg m-2 text-slate-200">
        <a href='{% url "import-products" %}'>
        {% icon 'import-products' %}
        </a>
      </div>
    </div>
    <div class="px-4 py-2 my-2 rounded-lg shadow-md shadow-slate-950 bg-slate-800">
      <form method="POST">
        {% csrf_token %}
        
        <label class="my-2 px-2 block text-sm" for="{{ form.asin.id_for_label }}">
          <span class=" text-slate-200">{{ form.asin.label }}</span>
        </label>
          <input class="block w-full mt-1 text-sm border border-slate-950 bg-slate-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple text-slate-300 focus:shadow-outline-slate form-input rounded-lg" placeholder="XXXXXXXXXX" value="{% if form.asin.value %}{{ form.asin.value }}{% endif %}" name="{{ form.asin.html_name }}"/>
        <span class="text-xs text-red-400">
          {{ form.asin.errors }}
        </span>
        <label class="block my-2 px-2 text-sm" for="{{ form.domain.id_for_label }}">
          <span class=" text-slate-200">{{ form.domain.label }}</span>
        </label>
          <select class="block w-full mt-1 text-sm border border-slate-950 text-slate-300 bg-slate-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-slate rounded-lg" name="{{ form.domain.html_name }}">
            {% for opt in form.domain %}
              {% if opt %}
                <span>{{ opt }}</span>
              {% endif %}
            {% endfor %}    
          </select>
        <span class="my-2 text-xs text-red-400">
          {{ form.domain.errors }}
        </span>

        <label class="block my-2 px-2 text-sm" for="{{ form.title.id_for_label }}">
          <span class="text-slate-200">{{ form.title.label }}</span>
        </label>
          <textarea class="block w-full border mt-1 text-sm text-slate-300 border-slate-950 bg-slate-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple focus:shadow-outline-slate rounded-lg" rows="2" placeholder="Enter Title of Product of Click Get Info" name="{{ form.title.html_name }}" value="{{ form.title.value }}">{% if form.title.value %}{{ form.title.value }}{% endif %}</textarea>
        </label>
        <span class="text-xs text-red-400">
          {{ form.title.errors }}
        </span>
        <label class="my-2 block px-2 text-sm" for="{{ form.price.id_for_label }}">
          <span class=" text-slate-200">{{ form.price.label }}</span>
        </label>
          <input class="block w-full mt-1 text-sm border border-slate-950 bg-slate-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple text-slate-300 focus:shadow-outline-slate form-input rounded-lg" placeholder="00.0" value="{% if form.price.value %}{{ form.price.value }}{% endif %}" name="{{ form.price.html_name }}"/>
        
        <span class="text-xs text-red-400">
          {{ form.price.errors }}
        </span>
        <label class="my-2 px-2 block text-sm" for="{{ form.image_url.id_for_label }}">
          <span class="text-slate-200">{{ form.image_url.label }}</span>
        </label>
          <input class="block w-full mt-1 text-sm border border-slate-950 bg-slate-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple text-slate-300 focus:shadow-outline-slate form-input rounded-lg" placeholder="" value="{% if form.image_url.value %}{{ form.image_url.value }}{% endif %}" name="{{ form.image_url.html_name }}" type='hidden'/>
          <span class="block w-full mt-1 text-sm border border-slate-950 bg-slate-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple text-slate-300 focus:shadow-outline-slate form-input rounded-lg">{% if form.image_url.value %}{{ form.image_url.value }}{% else %} Click on Get Info to get imageUrl {% endif %}</span>
        <span class="text-xs text-red-400">
          {{ form.image_url.errors }}
        </span>
        <!-- Divs are used just to display the examples. Use only the button. -->
        <div class="my-6 mb-4 flex justify-center gap-4">
          <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-800 focus:outline-none focus:shadow-outline-purple" type="submit" name='get_info'>Get Info</button>
          <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-800 focus:outline-none focus:shadow-outline-purple" type="submit" name='submit'>Submit</button>
        </div>
      </form>

      <div>

</div>
        
    </div>
  </div>

{% endblock %}
